@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/poppins/semi_bold/Poppins-SemiBold.woff2') format('woff2'),
        url('../../fonts/poppins/semi_bold/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/poppins/regular/Poppins-Regular.woff2') format('woff2'),
        url('../../fonts/poppins/regular/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/poppins/bold/Poppins-Bold.woff2') format('woff2'),
        url('../../fonts/poppins/bold/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/poppins/black/Poppins-Black.woff2') format('woff2'),
        url('../../fonts/poppins/black/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/poppins/medium/Poppins-Medium.woff2') format('woff2'),
        url('../../fonts/poppins/medium/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto/regular/Roboto-Regular.woff2') format('woff2'),
        url('../../fonts/roboto/regular/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto/black/Roboto-Black.woff2') format('woff2'),
        url('../../fonts/roboto/black/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto/medium/Roboto-Medium.woff2') format('woff2'),
        url('../../fonts/roboto/medium/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto/bold/Roboto-Bold.woff2') format('woff2'),
        url('../../fonts/roboto/bold/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

