<section class="flex h-full">
    <div class="w-1/2 flex flex-col justify-center items-center text-left h-full bg-primary-20 px-28 py-5">
        <div class="flex flex-col items-baseline">
            <h1 class="font-bold text-7xl lg:text-8xl mb-16">
                <span>Hydra</span>
                <span class="text-primary-60">bot</span>
            </h1>
            <h2 class="text-3xl lg:text-5xl max-w-[460px] mb-8">{{ 'auth_wrapper.title' | translate }}</h2>
            <span class="text-base lg:text-xl" [innerHTML]="'auth_wrapper.description' | translate"></span>
        </div>
    </div>
    <div class="w-1/2 flex items-center justify-center h-full bg-primary-0 py-5">
        <router-outlet></router-outlet>
    </div>
</section>
